.container {
    background-color: beige ;
    justify-content: center;
  
}
.item {
    height: 100px;
    width: 100px;
    border: 1px solid blue;
    text-align: center;
    align-content: center;
    margin: 5px;
    border-radius: 10px;
    
    
}
.item-1 {
    background-color: lightblue;
}
.item-2 {
    background-color: rgb(239, 207, 177);
    position: absolute;
    top: 400px;
    right: 150px;
    
}
.item-3 {
    background-color: rgb(208, 195, 110);
    width:100%;
    position: fixed;
    bottom: 0px;
    
}
.item-4 {
    background-color: rgb(49, 138, 103);
    width: 100vw;
    position: sticky;
    top: 0px;
    z-index: 1;
    
    
}
.item-5 {
    background-color: rgb(46, 201, 157);
    position: relative;
    top: 50px;
    left: 50px;
}
.item-6 {
    background-color: rgb(93, 100, 200);
}
.item-7 {
    background-color: rgb(157, 96, 201);
}
.item-8 {
    background-color: rgb(177, 108, 28);
}
.item-9 {
    background-color: rgb(18, 44, 52);
}
.item-10 {
    background-color: rgb(93, 36, 74);
}
.item-11 {
    background-color: rgba(41, 39, 213, 0.637);
}
.item-12 {
    background-color: rgb(50, 127, 152);
}